<div class="container">
<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

 <div class="container">
     <%= form_for @link do |f| %>
       <%= f.text_field :title ,class:"form-control", placeholder:"Enter Title" %><br>
       <%= f.text_field :url ,class:"form-control", placeholder: "Enter complete url(with protocol ' :http ')" %><br>
       <%= f.submit class:"btn btn-primary" %>
     <% end %>
    <% end %>
 </div>
