<div class="container">
  <p id="notice"><%= notice %></p>


  <div class="card" style="width: 45rem;">
    <div class="card-body">
      <h2 class= "card-title"><a href="<%= @link.url %>" target="_blank"><%= @link.title %></a></h2>
      <h5>By <%= @link.user.email %> and updated <%= time_ago_in_words(@link.updated_at) %> ago</h5>
    </div>
  </div><br>

  <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-primary" %>
  <%= link_to "Delete", link_path, method: :delete , data: {confirm: "Are you sure?"}, class: "btn btn-danger" %><br><br>
  <%= link_to 'Back', links_path, class: "btn btn-success" %>
</div>
