<div class="container">
  <p id="notice"><%= notice %></p>


  <div class="card" style="width: 45rem;">
    <div class="card-body">
      <h2 class= "card-title"><a href="<%= @link.url %>" target="_blank"><%= @link.title %></a></h2>
      <h5>By <%= @link.user.email %> and updated <%= time_ago_in_words(@link.updated_at) %> ago</h5>
    </div>
  </div><br>

  <a href="<%= @link.url %>" target="_blank" class="btn btn-default">Visit URL</a>
  <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-primary" if user_signed_in? && current_user == @link.user %>
  <%=  link_to '<i class="material-icons btn">thumb_up</i>'.html_safe , Like_link_path(@link), method: :put  %> <%= @link.get_upvotes.size %>
  <%=  link_to '<i class="material-icons btn">thumb_down</i>'.html_safe, Dislike_link_path(@link), method: :put %> <%= @link.get_downvotes.size %><br><br>
  <%= link_to 'Back', links_path, class: "btn btn-success" %><br><br>
   <h3><%= pluralize(@link.comments.count, "comment") %></h3>
  <div id="comments">
    <%= render :partial => @link.comments %>
  </div>

  <%= simple_form_for [@link, Comment.new] do |f| %>
     <div class="field">
       <%= f.text_area :body ,class: "form-control" %>
     </div><br>
     <%= f.submit "Add comment", class:"btn btn-primary" %>
  <% end %>

</div>
