<!DOCTYPE html>
<html>
  <head>
    <title>ReadIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'New Link', new_link_path %> |
      <%= link_to "EDIT ACCOUNT", edit_user_registration_path %> |
      <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
    <%= yield %>
  </body>
</html>
